.favoriteButton {
    cursor: pointer;
    filter: drop-shadow(1px 3px 2px #1e16414a);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.favoriteButton:hover {
    transform: scale(1.1);
}

.favoriteButton:active {
    transform: scale(1.2);
    filter: drop-shadow(2px 4px 3px #1e164180);
}

.avatar img {
    aspect-ratio: 1;
    width: 100%; /* Ensures the image fills the container */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px #fff9e6;
    overflow: hidden;
}

.avatar {
    aspect-ratio: 1;
}