.userInfoColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.userInfoForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff9e6;
    gap: 10px
}

.userInfoDisplayName {
    color: #3830a6;
    font-size: 32px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #fff9e6;
    border-radius: 4px
}

.userInfoSocial {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 100%
}

.socialName {
    color: #fff9e6; 
    font-size: 16px; 
    font-weight: bold;
    margin-right: 4px;
    background: transparent;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    width: 100px
}

.socialValue {
    color: #fff9e6; 
    font-size: 16px;
    background: transparent;
    border: 1px solid #fff9e6; 
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 4px
}

.userInfoFormContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 100%
}

.userInfoFormSocial {
    color: #3830a6;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px

}

.userInfoFormSave {
    color: #FF1493;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px
}

.userInfoFormCancel {
    color: #fff9e6;
    background: transparent;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
}

.userInfoDeleteButton {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    align-self: flex-start
}

.userInfoDeleteSvg {
    display: flex;
    justify-self: flex-end;
    padding-top: 45px;
    padding-right: 20px
}