.userInfo {
    display: flex;
    flex-direction: column;
    font-family: Brygada 1918;
    background: linear-gradient(347deg in oklab, rgb(0% 92% 99% / 70%) -15% -15%, rgb(84% 0% 55% / 71%) 132% 132%);
    height: 100vh;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px outset #fff9e6;
}

.userInfoHeader {
    display: grid;
    grid-template-columns: auto minmax(25%, auto) 1fr;
    gap: 20px;
    position: relative;
    padding-left: 220px;
    min-height: 200px;
    overflow: visible;
    margin-bottom: 20px;
}

.avatarContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.userDetailsContainer {
    grid-column: 2;
    min-width: 0;
    overflow: visible;
    position: relative;
}

.userDetails {
    min-width: 100%;
    width: max-content;
    max-width: none;
}

.asksOffersContainer {
    grid-column: 1 / -1;
    margin-top: 20px;
    overflow-y: auto;
}

.userInfoAvatar img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px #fff9e6;
    overflow: hidden;
}

.userInfoFormSocial {
    color: #3830a6;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px

}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.shimmer {
    background: linear-gradient(to right, #3830a6, #8A2BE2);
    background-clip: text;
    color: transparent;
}

.shimmerReverse {
    background: linear-gradient(to left, #3830a6, #8A2BE2);
    background-clip: text;
    color: transparent;
}

.titleText {
    color: #fff9e6;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Brygada 1918', serif;
}

.descriptionText {
    font-size: 1rem;
    color: #fff9e6;
    font-family: 'Brygada 1918', serif;
}

.controlsRow {
    display: flex;
}

.editable {
    background: transparent;
    border: none;
    width: auto; /* Allows inputs to size based on content */
    min-width: 100%; /* Ensures it's at least as wide as the container */
    transition: all 0.3s ease;
    resize: none;
}

.titleInput {
    color: #fff9e6;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Brygada 1918', serif;
}

.descriptionInput {
    font-size: 1rem;
    color: #fff9e6;
    font-family: 'Brygada 1918', serif;
}

.disabled {
    cursor: default;
    pointer-events: none;
}

.editable:not(.disabled){
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 8px; 
    border: 1.5px solid #fff9e6;
}

.userInfoFormSave {
    color: #FF1493;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px
}

.userInfoFormCancel {
    color: #fff9e6;
    background: transparent;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
}

.input {
    font-family: 'Brygada 1918', serif;
    color: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    background: #fff9e6;
    background-color: rgba(255, 249, 230, 0.1);
    width: auto; /* Allows inputs to size based on content */
    min-width: 0; /* Allows input to shrink if needed */
    flex: 1; /* Allows input to grow and fill available space */
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.socialName {
    font-weight: 650;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.socialValue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.socialsEdit {
    display: flex;
    flex-direction: column;
}


.editButtons {
    display: flex;
    gap: 5px;
}
