.userInfo {
    display: flex;
    flex-direction: column;
    font-family: Brygada 1918;
    background: linear-gradient(347deg in oklab, rgb(0% 92% 99% / 70%) -15% -15%, rgb(84% 0% 55% / 71%) 132% 132%);
    min-height: 100vh;
    height: auto;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px outset #fff9e6;
}

.userInfoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    min-height: auto;
    overflow: visible;
    margin: 0 -20px 20px -20px;
    border-top: 1px solid #fff9e6;
    border-bottom: 1px solid #fff9e6;
    background: linear-gradient(to right, rgba(84, 0, 55, 0.2), rgba(199, 21, 133, 0.2));
    padding: 15px 20px;
}

.userInfoAvatar {
    flex-shrink: 0;
}

.userLink {
    color: #fff9e6;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.avatarImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .avatarImage {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1536px) {
    .avatarImage {
        width: 300px;
        height: 300px;
    }
}

.userDetailsContainer {
    flex: 1;
    min-width: 0;
    overflow: visible;
    
}

.userDetails {
    min-width: 100%;
    width: max-content;
    max-width: none;
}

.postsOffersContainer {
    grid-column: 1 / -1;
    margin-top: 0px;
    overflow-y: visible;
    flex-grow: 1;
}

.userInfoFormSocial {
    color: #3830a6;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
}

.userDetails {
    display: flex; 
    flex-direction: column;
    gap: 1.25rem;
}

.biography {
    font-size: 1rem;
}

.shimmer {
    font-size: 2.5rem;
    font-weight: 600;
    padding-right: 10px;
    background: linear-gradient(to right, #3830a6, #8A2BE2);
    background-clip: text;
    color: transparent;
}

.shimmerReverse {
    background: linear-gradient(to left, #3830a6, #8A2BE2);
    background-clip: text;
    color: transparent;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.titleText {
    color: #fff9e6;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Brygada 1918', serif;
}

.descriptionText {
    font-size: 0.9rem;
    color: #fff9e6;
    font-family: 'Brygada 1918', serif;
}

.controlRow {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.editable {
    background: transparent;
    border: none;
    width: auto;
    min-width: 100%;
    transition: all 0.3s ease;
    resize: none;
}

.titleInput {
    color: #fff9e6;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Brygada 1918', serif;
    margin-bottom: 2px;
}

.descriptionInput {
    font-size: 0.9rem;
    color: #fff9e6;
    font-family: 'Brygada 1918', serif;
}

.disabled {
    cursor: default;
    pointer-events: none;
}

.editable:not(.disabled){
    background: none;
    outline: none;
    border-radius: 8px; 
    border: 1.5px solid #fff9e6;
}

.userInfoFormSave {
    color: #FF1493;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
    font-family: sans-serif;
}

.userInfoFormCancel {
    color: #fff9e6;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
    font-family: sans-serif;
}

.userInfoFormSocial {
    color: #3830a6;
    background: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    padding: 8px;
    font-family: sans-serif;
}

.input {
    font-family: 'Brygada 1918', serif;
    color: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    width: auto;
    min-width: 0;
    flex: 1;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.socialItem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.socialName {
    font-weight: 650;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.socialValue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.socialsEdit {
    display: flex;
    flex-direction: column;
}

.editButtons {
    display: flex;
    gap: 5px;
}

.toggleContainer {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.toggleButton {
    padding: 10px 5px;
    border: 1px solid #fff9e6;
    background: linear-gradient(to right, rgba(84, 0, 55, 0.2), rgba(199, 21, 133, 0.2));
    color: #fff9e6;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    font-family: 'Brygada 1918', serif;
    font-size: 1rem; 
    font-weight: 600;
    flex: 1 1 0px;
}

.toggleButton:hover {
    background: linear-gradient(to right, rgba(84, 0, 55, 0.3), rgba(199, 21, 133, 0.3));
}

.toggleButton.active {
    background: linear-gradient(to right, rgba(84, 0, 55, 0.5), rgba(199, 21, 133, 0.3));
    color: #fff;
    border-color: #fff;
}

.timestamp {
    font-size: 0.7rem;
    color: #e8e6e6;
}

.addButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff9e6;
    font-size: 50px;
    background-color: teal;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  }
@media (min-width : 768px) {
    .addButton {
        width: 80px;
        height: 80px;
        bottom: 60px;
        right: 70px;
        font-size: 50px;
    }



}

@media (max-width: 767px) {
    .userInfo {
        padding: 15px 15px 0 15px;
    }
    .userInfoHeader {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin: -15px -15px 0px -15px;
        gap: 8px;
        border-bottom: 1px solid #fff9e6;
        border-radius: 8px;
        background: linear-gradient(to right, rgba(84, 0, 55, 0.2), rgba(199, 21, 133, 0.2));
        padding: 15px;

    }

    .userInfoAvatar {
        margin-right: 0;
        margin-bottom: 0px;
    }

    .avatarImage {
        width: 100px;
        height: 100px;
    }

    .userDetailsContainer {
        text-align: center;
    }

    .userDetails {
        font-size: 1rem;
        gap: 0.5rem;

        
    }

    .joinDate {
        color: #e6e6e6;
        margin-left: 2px;
    }

    .biography {
        font-size: 1.2rem;
    }

    .shimmer {
        font-size: 2.5rem !important;
        font-weight: 600;
    }

    .titleText {
        font-size: 1.1rem;
    }

    .descriptionText {
        font-size: 0.85rem;
    }

    .toggleButton {
        font-size: 0.9rem;
        padding: 8px 5px;
    }

    .toggleContainer {  
        margin-bottom: 10px;    
        margin-top: 10px;   
    }

    .timestamp {
        font-size: 0.65rem;
    }

    .postsOffersContainer {
        margin-top: 15px;
        overflow-y: visible;
        height: auto;
    }

    .socials {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .socialName {
        font-size: 1.25rem;
    }

    .socialValue {
        font-size: 1.25rem;
    }

    .titleInput {
        font-size: 1.25rem;
        font-weight: 600;  
    }



    .descriptionInput {
        font-size: .9rem;
    }

    .input {
        padding: 5px;
    }

    .userInfoFormCancel,
    .userInfoFormSocial,
    .userInfoFormSave {
        font-size: 0.8rem;
        padding: 6px;
    }

    .postItem {
        font-size: 0.9rem;
    }

    .postTitle {
        font-size: 1rem;
    }

    .description {
        font-size: 0.85rem;
    }

    .userName {
        font-size: 0.9rem;
    }

}

@media (min-width: 768px) {
    .userInfoHeader {
        flex-direction: row;
        align-items: flex-start;
        min-height: 200px;
        border: none;
        background: transparent;
    }

 

}

