.container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    flex: 1;
    padding: 12px;
    box-sizing: border-box;
    max-width: 100%;
    background: linear-gradient(347deg in oklab, rgb(0% 92% 99% / 70%) -15% -15%, rgb(84% 0% 55% / 71%) 132% 132%);
    border-radius: 12px;
    border: 1px outset #fff9e6;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 6px;
  }
  
  .title {
    color: #fff9e6;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .searchInput {
    width: 100%;
    max-width: 240px;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #fff9e6;
    background-color: transparent;
    color: #fff9e6;
    font-size: .85rem;
  }
  
  .offersList {
    flex: 1;
    overflow-y: auto;
    width: 100%;
  }
  
  .postItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #fff9e6;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff9e6;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, rgba(84, 0, 55, 0.2), rgba(199, 21, 133, 0.2));
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    font-size: 1rem;
  }
  
  .flag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    color: #fff9e6;
    font-family: sans-serif;
    font-size: 0.75rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  
  .userInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .userName {
    cursor: pointer;
    text-decoration: none;
    color: #e8e6e6;
    font-size: 1.1rem;
  }
  
  .timestamp {
    font-size: 0.8rem;
    color: #e8e6e6;
  }
  
  .postTitle {
    color: #fff9e6;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .description {
    font-size: 0.9rem;
    color: #fff9e6;
  }
  
  .addButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff9e6;
    font-size: 30px;
    background-color: teal;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  }

  /* Mobile-specific styles */
.mobilePostItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #fff9e6;
    padding: 10px;
    gap: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    color: #fff9e6;
    position: relative;
    cursor: pointer;
    background: linear-gradient(to right, rgba(84, 0, 55, 0.2), rgba(199, 21, 133, 0.2));
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
  }
  
  .mobileUserInfo {
    display: flex;
    align-items: center;
  }
  
  .mobileAvatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;

  }
  
  @media (min-width: 768px) {
    .mobilePostItem {
      display: none;
    }
  }
  
  @media (max-width: 767px) {
    .postItem {
      display: none;
    }
  }
  
  /* Media Queries for responsiveness */
  @media (min-width: 768px) {
    .container {
      padding: 12px 5%;
    }
    .title{
        font-size: 1.5rem;
    }
  
    .header {
        margin-bottom: 2px;
        gap: 10px;
    ;
    }
    .userName {
        font-size: .8rem;
    }
    

  
    .postItem {
      flex-direction: row;
      align-items: center;
      padding: 10px 20px;
    }
  
  
    .addButton {
      width: 72px;
      height: 72px;
      font-size: 36px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      padding: 12px 10%;
    }
  }

  /* New media query for large screens */
  @media (min-width: 1100px) {
    .container {
      padding: 20px 15%;
    }
    .title {
      font-size: 2rem; /* Increased font size */
    }
    .postItem {
      padding: 15px 30px;
    }
    .addButton {
      width: 80px;
      height: 80px;
      font-size: 40px;
    }
    .userName {
      font-size: 1.2rem; /* Increased font size */
    }
    .timestamp {
      font-size: 1rem; /* Increased font size */
    }
    .postTitle {
      font-size: 1.2rem; /* Increased font size */
    }
    .description {
      font-size: 1rem; /* Increased font size */
    }
}

  .layoutFavoriteButton {
    display: flex;
    align-self: end;
    padding-bottom: 0.25rem;
  }