.addAskOfferModalBackground {
    background-color: rgba(119, 136, 153, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAskOfferModal {
    color: #FFF9E6;
    background: linear-gradient(347deg in oklab, rgb(0% 92% 99% / 100%) -15% -15%, rgb(84% 0% 55% / 100%) 132% 132%);
    width: 650px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    border: 2px solid #FFFAFA;
    padding: 20px;
    position: relative;
}

.addAskOfferModalTitle {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addAskOfferModalInput {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0rem 3rem;
}

.addAskOfferModalInput input,
.addAskOfferModalInput textarea {
    text-wrap: wrap;
    border-radius: 5px;
    background-color: #fff9e6;
}

.addAskOfferModalInput textarea {
    height: 60px;
}

.addAskOfferModalInputLabel {
    margin: 15px 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.addAskOfferModalInputField {
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid #fff9e6;
}

.addAskOfferModalCreateButton {
    background: linear-gradient(to left, #1a1a66, #2a2a88);
    color: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 0 0 2px #fff9e6;
    margin-top: 20px;
    align-self: center;
}

.addAskOfferModalCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff9e6;
    font-size: 20px;
    cursor: pointer;
}

.codeofConductModalBackground {
    background-color: rgba(119, 136, 153, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeofConductModal {
    color: #FFF9E6;
    background: linear-gradient(347deg in oklab, rgb(0% 92% 99% / 100%) -15% -15%, rgb(84% 0% 55% / 100%) 132% 132%);
    width: 650px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
    border: 2px solid #FFFAFA;
    padding: 20px;
    position: relative;
}

.codeofConductInput {
    text-wrap-mode: wrap;
    border-radius: 5px;
    padding: 20px
}

.codeofConductModalCreateButton {
    background: linear-gradient(to left, #1a1a66, #2a2a88);
    color: #fff9e6;
    border: 1px solid #fff9e6;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 0 0 6px #fff9e6;
    margin-top: 20px;
    align-self: center;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    flex-shrink: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.layoutFavoriteButton {
    display: flex;
    align-self: end;
    padding-right: 1rem;
}

/* Mobile-specific styles for modals */
@media (max-width: 767px) {
    .addAskOfferModalBackground,
    .codeofConductModalBackground {
        background-color: transparent;
    }

    .addAskOfferModal, .codeofConductModal {
        width: 100%;
        height: calc(100% - 78px - 40px);
        margin-top: 78px;
        max-width: 100%;
        /* //this should be 78 cuz that's the header height bit it's overflowing for some reason  */
        /* that's the reason for the 40 unaccounted for pixels */
        border-radius: 12px;
        border: 1px outset #fff9e6;
        /* border-top: 3px solid #fff9e6; */
        display: flex;
        flex-direction: column;
        justify-content: flex-center;
        padding: 20px 25px 20px 20px;
    } 

    .addAskOfferModalTitle {
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .addAskOfferModalInput {
        padding: 0;
    }

    .addAskOfferModalInputLabel {
        margin: 20px 0 10px;
    }

    .addAskOfferModalInputField {
        width: 100%;
        margin-bottom: 20px;
    }

    .addAskOfferModalCreateButton, .codeofConductModalCreateButton {
        margin-top: 30px;
        padding: 12px 24px;
    }

    .addAskOfferModalCloseButton {
        top: 10px;
        right: 10px;
    }

    .addAskOfferModalInput textarea {
        height: 120px;
    }
}

.typeButtonContainer {
  display: flex;
  gap: 10px;
}

.typeButton {
  padding: 8px 16px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  color: #fff9e6;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.offerButton:not(.activeTypeButton) {
  background-color: #544bcc;
}

.seekButton:not(.activeTypeButton) {
  background-color: #ff69b4; /* Pink color for SEEKING button */
}

.activeTypeButton.offerButton {
  background-color: #3e3794;
  border: 2px solid #fff9e6;
}

.activeTypeButton.seekButton {
  background-color: #ff1493; /* Darker pink for active SEEKING button */
  border: 2px solid #fff9e6;
}